
.navbar a {
  color:black;
  padding: 15px;
  background: fixed;
  display: inline-block;
  float: none;

}

.navbar a:hover {
  color: brown;
}

.navbar a:visited {
  color: blueviolet;
}
img {
  color: black;
  width: 90%;

}

body {
 background-color: antiquewhite;
}

h1 {
  text-align: center;
}



.flex-container {
  display: flex;
}

.flex-container > div {
  color: black;
  text-align: center;
  
  font-size: 20px;
  padding-right: 25px;
}

.flex-container > #About p {
  color: black;
  line-height: 75px;
  font-size: 30px;
}


@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}